.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.egg-info/
build/
dist/
output/
*.wav
*.mp4
*.mkv
/*.srt
/*.json
!config/*.json
.coverage
htmlcov/
*.log
.idea/
.DS_Store
*_chunks/
# IDE junk
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
